body {
  margin: 0;
  background-color: ghostwhite;
  font-family: 'Noto Sans Thai UI', sans-serif;
}

#ballot {
  width: 300px;
  margin: 2em auto 0;
}

.party {
  position: block;
  margin: 1em;
  transition: all 0.5s ease;
  cursor: pointer;
}

.party input {
  margin-right: 20px;
  cursor: pointer;
}
.party label {
  cursor: pointer;
}

input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

input[type="radio"] + label::before {
  content: '⬜️ '; /* content: url('checkbox.png'); */
}

input[type="radio"]:checked + label::before {
  content: '❎ '; /* content: url('checkbox-checked.png'); */
}
