body {
  margin: 0;
  background-color: ghostwhite;
  font-family: 'Noto Sans Thai UI', sans-serif;
  font-size: 16px;
}

#title {
  font-size: 1.5em;
  width: 268px;
  margin: 2em auto 0;
  padding: 16px;
  border: 1px solid black;
  border-bottom: 0px;
}

#ballot {
  width: 300px;
  margin: 0 auto;
  padding: 1em 0;
  border: 1px solid black;
  line-height: 16px;
}

.party {
  position: block;
  padding: 0.75em 1em;
  /* transition: all 0.5s ease; */
  cursor: pointer;
}

.party input {
  cursor: pointer;
}
.party label {
  cursor: pointer;
}

input[type="radio"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

input[type="radio"] + label::before {
  content: '⬜️ '; /* content: url('images/box-empty.png'); */
}

input[type="radio"]:checked + label::before {
  content: '❎ '; /* content: url('images/box-checked.png'); */
}
